<br>
<h1 style="text-align: center;">Welcome Back! <span style="color: blue;">{{name}}</span></h1>

<br><br><br>
<div class="card-body" style="justify-content: center;">
  <div class="content">
    <div>
      <h4 class="card-title" style="font-size: 24px; color: #333;">Student <span style="color: blue;">{{ information }}</span></h4>
      <div class="form-group">
        <input type="text" class="form-control" (input)="onStudentNameChange($event)" placeholder="Enter student name..." style="font-size: 16px; width: 400px; height: 50px;">
      </div>
      <h5 *ngIf="studentName" class="card-title mt-3" style="font-size: 20px; color: #333;">Student's Name: <span style="color: blue;">{{ studentName }}</span></h5>
      <a href="#" class="btn btn-primary mt-3" routerLink="page2">Go to student mark</a>
    </div>
    <div class="right-content">
      <img src="assets/image3.png" alt="" style="width: 500px; height: auto;">
    </div>
  </div>
</div>



              
            